USE [master]
GO
/****** Object:  Database [gurpreet]    Script Date: 11/11/2019 9:19:16 AM ******/
CREATE DATABASE [gurpreet]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'gurpreet', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\gurpreet.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'gurpreet_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\gurpreet_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [gurpreet].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [gurpreet]
GO
/****** Object:  Table [dbo].[admin]    Script Date: 11/11/2019 9:19:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin](
	[username] [varchar](40) NOT NULL,
	[password] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[candidate]    Script Date: 11/11/2019 9:19:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[candidate](
	[username] [varchar](40) NOT NULL,
	[age] [int] NULL,
	[dob] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[publish]    Script Date: 11/11/2019 9:19:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[publish](
	[Id] [int] NOT NULL,
	[publication_place] [varchar](40) NULL,
	[publication_date] [varchar](30) NULL,
	[publisher] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[register]    Script Date: 11/11/2019 9:19:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[register](
	[username] [varchar](40) NOT NULL,
	[password] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[admin] ([username], [password]) VALUES (N'admin', N'admin')
INSERT [dbo].[publish] ([Id], [publication_place], [publication_date], [publisher]) VALUES (1, N'Canada', N'12/dec/2019', N'IJRCR')
INSERT [dbo].[publish] ([Id], [publication_place], [publication_date], [publisher]) VALUES (2, N'India', N'12/Jan/2020', N'IJUUE')
INSERT [dbo].[publish] ([Id], [publication_place], [publication_date], [publisher]) VALUES (3, N'Canada', N'13/feb/2020', N'IJRRE')
INSERT [dbo].[register] ([username], [password]) VALUES (N'gurpreet', N'123')
ALTER TABLE [dbo].[candidate]  WITH CHECK ADD FOREIGN KEY([username])
REFERENCES [dbo].[register] ([username])
GO
USE [master]
GO
